
/*******************
HEADER
********************/

header{
    color: rgb(97, 86, 86);
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    border-bottom: 10px solid rgb(247, 212, 16);
    border-radius: 3.5px;
    margin-right: 85px;
    margin-left: 85px;
}





/*******************
NAVIGATION
********************/

nav {
    margin-top: 55px;
    text-align: center;
   
  
}

a { 
    text-decoration: none;
    color: rgb(50, 50, 104);
    
}

.navlinks {
    font-size: 22px;
    color: rgb(49, 47, 47);
    font-family: sans-serif;
    padding: 45px;
    
}

/*******************
SIDE BAR
********************/

#side {
    float: right;
    width: 200px;
    height: 300px;
    background-color:lightgray;
    text-align: center;
    border-radius: 5px;
    list-style-type: none; 
    font-size: 18px;
    color: rgb(55, 55, 77);
    font-family: sans-serif;
    padding: 15px;
    margin-right: 85px;
    margin-top: 130px;
    

}

ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    font-family: sans-serif;
}

li {
    text-align: center;
    padding-bottom: 15px;
    padding-right: 35px;
    
}



a:hover{
    color:rgb(70, 95, 70);
}


/*******************
INTRO
********************/

.intro {
    width: 1000px;
    margin-left: 85px;
    margin-top: 120px;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 110px;
    
    
}

#secondTitle {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    color: rgb(55, 55, 77);
}


/*******************
MAIN CONTENT
********************/



.main {
    margin-left: 85px;
    margin-right: 85px;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    color: rgb(55, 55, 77);

}

h3 {
    font-family: sans-serif;
    font-size: 19px;
    margin-top: 45px;
    color: rgb(55, 55, 77);
    margin-bottom: 45px; 
    margin-left: 250px;   

}

#aboutObj{
    margin-left: 220px;

}

#aboutCond{
    margin-left: 155px;
}

#sideBar{
    margin-left: 20px;
}

.videoOne {
    margin-left: 180px;
    margin-bottom: 45px;
}

.videoTwo {
    margin-left: 180px;
    margin-bottom: 45px;
}

.videoThree  {
    margin-left: 180px;
    margin-bottom: 150px;
} 

/*** First code snippet ***/
.snippetOne {
    width: 850px;
    height: 150px;
    background-color: rgb(27, 25, 25);
    border-radius: 10px;
    margin-bottom: 35px;
}

.functionKey {
    color: rgb(141, 49, 141);
    font-size: 20px;
    
}

.functionName{
    color: rgb(55, 55, 138);
    font-size: 20px;
}

.common{
    color: rgb(209, 192, 192);
    font-size: 20px; 
}

.rtrn {
    color: fuchsia;
    font-size: 20px; 

}

.lg {
    color: lightblue;
    font-size: 20px;
}

.nmbr {
    color: rgb(224, 162, 26);
    font-size: 20px;
}

.func {
    width: 1000px;
    font-family: sans-serif;
    font-size: 18px;
}

/*** Second code snippet ***/
.snippetTwo {
    width: 850px;
    height: 170px;
    background-color: rgb(27, 25, 25);
    border-radius: 10px;
    margin-bottom: 15px;

}

.objectKey{
    color: rgb(78, 78, 194);
    font-size: 20px;
}

.key{
    color: lightblue;
    font-size: 20px;
}

.value{
    color: rgb(226, 125, 30);
    font-size: 20px;    
}

.valueB{
    color: rgb(17, 26, 155);
    font-size: 20px;
}

.valueV {
    color: rgba(243, 191, 20, 0.979);
    font-size: 20px;
}

.consLog{
    color: green;
    font-size: 20px;
}
/*** Third code snippet ***/

.snippetThree {
    width: 850px;
    height: 150px;
    background-color: rgb(27, 25, 25);
    border-radius: 10px;
}






/*******************
FOOTER
********************/

footer {
    margin-left: 85px;
    margin-right: 85px;
    text-align: center;
    height: 85px;
    background-color: darkgray;
    padding-top: 25px;
    font-size: 17px;

}

/********************************
MEDIA QUERY
********************************/

@media only screen and (max-width: 600px) {
    header {
        width: 900px;
    }

    nav {
        width: 750px;
        margin-left: 175px;
    }

    #side {
       
        
    }

    

    footer {
        width: 900px;
    }

}

